*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(252, 239, 224)
}
/* top-bar */
#top-bar{
    background-color: white;
    padding-top: 30px;
}
.top-bar-container ul {
    list-style: none;
}
.ul-left{
    flex-basis: 600px;
}
.logo-store{
    flex-basis:204px ;
    flex-shrink: 0;
}
.logo-store img{
    height: 70px;
}
.search-products{
    flex-grow: 1;
    position: relative;
}
.search-products input{
    width: 100%;
    height: 40px;
    padding: 0 15px;
    background-color: rgb(233, 232, 232);
    border:none;
    border-radius: 50px;
}
.search-products button{
    height: 100%;
    min-width: 90px;
    border:none;
    line-height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    font-weight: bold;
    background: 0 0;
}
.contact-us{
    margin:0 60px ;
}
.contact-us .contact-us-specs div:first-of-type{
    font-size: 12px;
    font-weight: bold;
}
.contact-us .headphones-logo i {
    font-size: 45px;
    color: rgb(134, 194, 74);
    margin-right: 10px;
}
.contact-us .phone-number{
    color: rgb(134, 194, 74);
    font-size: 20px;
}
.user-interact>div {
    transition: all .5s ease 0s;
    position: relative;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    border-radius: 40px;
}
.user-interact>div i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.user-interact>div.profile{
    background-color:rgb(196, 241, 241) ;
}
.user-interact>div.liked{
    background-color:rgb(248, 250, 217) ;
}
.user-interact>div.shopping-cart{
    background-color:rgb(250, 217, 217) ;
}
/* top-bar :HOVER*/
.user-interact>div:hover{
    background-color: rgb(67, 98, 36);
}
/* top-bar - NAV */
#top-bar>nav{
    padding: 5px 0 ;
    height: 65px;
    background-color:#124e29 ;
}
nav .vertical-nav{
    height: 55px;
    width: 300px ;
    line-height: 55px;
    padding-left: 30px;
    color: white;
    font-weight: bold;
    background-color: rgb(142, 143, 68);
    border-radius: 55px;
}
#top-bar>nav ul {
    margin: 0;
    list-style: none;
}
#top-bar>nav ul li {
    line-height: 50px;
    margin: 0px 20px;
    font-size: 15px;
    font-weight: bold;
}
#top-bar>nav ul li a{
    text-decoration: none;
    color: white;
}
/* top-bar - NAV :HOVER*/
#top-bar>nav ul li:hover a , #top-bar>nav ul li:hover i  {
    color: rgb(142, 143, 68);
}
/* jumbo-slide */
.slider{
    position: relative;
    height: 55vw;
}
.slider div{
    height: 100%;
}
.slider img{
    width: 100%;
    height: 100%;
}
.arrow{
    color: white;
    font-size: 45px;
}
.arrow.left{
    position: absolute;
    top: 50%;
    transform: translate(5px,-50%);

}
.arrow.right{
    z-index: 1005;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0,-50%);
}
.nav-img{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%,0);
}
.nav-img>div{
    transition: all .2s linear 0s;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: rgba(10, 10, 10, 0.5);
} 
.nav-img>div:hover{
    background-color: rgba(28, 13, 240, 0.5);
    border: 2px solid white;
}
.nav-img>div.current{
    background-color: rgba(28, 13, 240, 0.5);
    border: 2px solid white;
}
/* discover-ban */
#discover-ban .col-4{
    height: 300px;
    padding: 15px;
}
#discover-ban .col-4 div{
    background-color: violet;
    width: 100%;
    height: 100%;
}
/* container-item */
.container-item{
    background-color: white;
}
.container-item .cover{
    padding: 15px;
}
.container-item .cover img{
    width: 100%;
}
.container-item .item{
    text-align: center;
}
/* new-item-shop */
